<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" id="logOutBtn" class="btn btn-outline-light">Log Out</button>
</form>

<div class="container">
<form>
    <button class="btn btn-outline-light turnOnBtn">Turn On Camera</button>
    <button class="btn btn-outline-light picBtn">Take A Picture</button> 
</form>
</div>
