<!-- Possibly use later!! -->
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" id="logOutBtn" class="btn btn-outline-light">Log Out</button>
</form>

<form>
    <input type="text" placeholder="Insert Link" id="base64">
    <button class="btn btn-danger submitBtn" type="submit">Mood Me</button>
</form>