<div class="container">
  <h1>moodifi</h1>
  <div class="row">
    <a href="https://github.com/arod1207/Moodifi" class="custom-card animate__animated animate__fadeIn">
      <div class="card text-white bg-dark mb-3" style="width: 20rem; height:18rem;">
        <div class="card-body">
          <p class="card-text">
            <i class="fa fa-smile-o"></i>
          </p>
        </div>
        <h5 class="card-title">MOODS</h5>
      </div>
    </a>
    <a href="https://github.com/arod1207/Moodifi" class="custom-card animate__animated animate__fadeIn">
      <div class="card text-white bg-dark mb-3" style="width: 20rem; height:18rem;">
        <div class="card-body">
          <p class="card-text">
            <i class="fa fa-angle-double-up"></i>
          </p>
        </div>
        <h5 class="card-title">ACTIVITIES</h5>
      </div>
    </a>
  </div>
</div>
{{#each playlist}}

<a href="{{LINK}}">LINK PLACEHOLDER</a>
<h2><i class="fa fa-thumbs-up" id="increment" aria-hidden="true"></i>{{RATING}}<i class="fa fa-thumbs-down" id="decrement "aria-hidden="true"></i></h2>
{{else}}
<p>No Playlist available</p>
{{/each}}


