    <div class="container">
      <h1>moodifi</h1>
      <a href="https://github.com/arod1207/Moodifi" class="custom-card">
      <div class="card text-white bg-dark mb-3" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">
            <i class="fa fa-smile-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
      </a>

{{#each playlist}}

<a href="{{LINK}}">LINK PLACEHOLDER</a>
<h2>Rating: {{RATING}}</h2>
{{else}}
<p>No Playlist available</p>
{{/each}}
