<div class="container">
  <div class="show" id="homeScreen">
    <h1>moodifi</h1>
    <p id="about">
      Curated playlists for whatever you do, or your mood.
    </p>
    <div class="row">
      <!-- moods card -->
      <a href="/playlist/moods/all">
        <div class="card text-white bg-dark mb-3 animate__animated animate__fadeIn" style="width: 20rem; height:18rem;" id="moodsBtn">
          <div class="card-body">
            <p class="card-text">
              <i class="fa fa-smile-o"></i>
            </p>
          </div>
          <h5 class="card-title">MOODS</h5>
        </div>
      </a>
      <!-- activities card -->
      <a href="/playlist/activities/all">
        <div class="card text-white bg-dark mb-3 animate__animated animate__fadeIn" style="width: 20rem; height:18rem;" id="activeBtn">
          <div class="card-body">
            <p class="card-text">
              <i class="fa fa-angle-double-up"></i>
            </p>
          </div>
          <h5 class="card-title">ACTIVITIES</h5>
        </div>
      </a>
    </div>
  </div>
</div>