<h1>moodifi</h1>
<div class="box one">
</div>
<div class="box two"></div>




{{#each playlist}}

<a href="{{LINK}}">LINK PLACEHOLDER</a>
<h2>Rating: {{RATING}}</h2>
{{else}}
<p>No Playlist available</p>
{{/each}}