<!-- Log in page-->
<div class="container">
    <h1>LOGIN</h1>
    <div class="row">
        <form action="/login" class="loginForm" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Password:</label>
                <input type="text" name="password" />
            </div>
            <div>
                <button id="logIn" type="submit" class="btn btn-outline-light">Log In</button>
            </div>
        </form>
    </div>
    <div class="row">
        <p id="signUpPrompt">Don't have an account? Start listening now.</p>
    </div>
    <div class="row">
        <a href="/signup" class="signUpBtn">
            <button id="signUpBtn" type="button" class="btn btn-outline-light">Sign Up</button>
        </a>
    </div>
    {{messages.error}}
</div>